<main class="main">
  <div class="container">
    <button mat-raised-button (click)="getPokemons()" color="primary">
      Get Pokemons
    </button>

    <button mat-raised-button (click)="getStarWarsPeople()" color="warn">
      Get Star Wars People
    </button>
  </div>

  <div class="data">
    <pre *ngIf="data">{{ data | json }}</pre>
  </div>
</main>

<router-outlet></router-outlet>

<section *ngIf="isLoading$ | async" class="spinner">
  <mat-spinner color="accent"></mat-spinner>
</section>
